mixin svg-inline(name)
	.icon(class="icon--#{name}")
		svg
			use(xlink:href="##{name}")

mixin svg(name)
	.icon(class="icon--#{name}")
		svg
			use(xlink:href="/_assets/images/svg-symbols.svg##{name}")


mixin social(icons, className)
	ul.nav(class="#{className}")
		each val in icons
			li
				a(href="#" class="#{className}__item #{className}__item--#{val}")