mixin svg(name)
	.icon(class="sym--#{name}")
		svg
			use(xlink:href="##{name}")

mixin svg-img(name)
	.icon(class="sym--#{name}")
		svg
			use(xlink:href="/_assets/images/svg-symbol.svg{name}")


mixin social(icons, className)
	ul.nav(class="#{className}")
		each val in icons
			li
				a(href="#" class="#{className}__item #{className}__item--#{val}")

