mixin use(name)
  svg
    use.no-barba(xlink:href=`#${name}`)

mixin svg-inline(name)
  .icon(class=`icon--${name}`)
    +use(name)

mixin svg-link(name, href, className)
  a.icon(class=`icon--${name} ${className !== undefined && className}` href=`${href}`)
    +use(name)

mixin svg-button(name, type, className)
  button.icon(class=`icon--${name} ${className !== undefined && className}` type=`${type}`)
    +use(name)

mixin svg-label(name, htmlFor, className)
  label.icon(class=`icon--${name} ${className !== undefined && className}` for=`${htmlFor}`)
    +use(name)

mixin svg(name)
  .icon(class=`icon--${name}`)
    +use(name)

mixin social(icons, className)
  ul.nav(class=`${className}`)
    each val in icons
      li
        a(href="#" class=`${className}__item ${className}__item--${val}`)
