//- load content into the layout
extends layout/_layout
//- define the block of content to be placed in the extend
block content
	h1.heading-1 FlexFunk


	.box-container
		- var n = 0
			while n < 12
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 11
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 10
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 9
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 8
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 7
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 6
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 5
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 4
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 3
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 2
				.box
					h4= n++


	.box-container
		- var n = 0
			while n < 1
				.box
					h4= n++
