//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content

	.wrapper
		.g-t10.g-d7.g-center.gutter-row
			include _examples/carousel

	//- .wrapper.lz(data-behaviour="lazyLoad")
	//- 	-var n = 1
	//- 	while n < 16
	//- 		img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
	//- 		-n++
	//- 	-var n = 1
	//- 	while n < 16
	//- 		img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
	//- 		-n++
	//- 	-var n = 1
	//- 	while n < 16
	//- 		img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
	//- 		-n++
	//- 	-var n = 1
	//- 	while n < 16
	//- 		img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
	//- 		-n++
	//- 	-var n = 1
	//- 	while n < 16
	//- 		img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
	//- 		-n++
