//- load accordion__content into the layout
extends _wrapper/_layout
//- define the block of accordion__content to be placed in the extend
block content
	//- .hero.u-panel#Type
	//- 	.wrapper.u-text-center
	//- 		h1 Type!
	//- 		p Styles for the client... wrapped in .s-content
	//- .wrapper
	//- 	.g-t10.g-d7.g-center.gutter-row
	//- 		include _examples/type
	//- .hero.u-panel#Grid
	//- 	.wrapper.u-text-center
	//- 		h1 Mega Simple Grid!
	//- 		p Utilises calc()... see /layout/_structure.scss
	//- include _examples/grid
	//- .hero.u-panel#Forms
	//- 	.wrapper.u-text-center
	//- 		h1 Forms
	//- .wrapper
	//- 	.g-t10.g-d7.g-center.gutter-row
	//- 		include _examples/forms
	//- .hero.u-panel#Forms
	//- 	.wrapper.u-text-center
	//- 		h1 Slide
	//- .wrapper
	//- 	.g-t10.g-d7.g-center.gutter-row
	//- 		include _examples/carousel

	.wrapper.lz(data-behaviour="lazyLoad")
		-var n = 1
		while n < 16
			img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
			-n++
		-var n = 1
		while n < 16
			img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
			-n++
		-var n = 1
		while n < 16
			img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
			-n++
		-var n = 1
		while n < 16
			img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
			-n++
		-var n = 1
		while n < 16
			img(data-normal='/_assets/images/#{n}.jpg' style="min-height: 500px")
			-n++
